
body {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    width: 100%;
    height: 100%;
}
button {
    display: flex;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1.5rem 2.5rem;
    color: red;
    background-color: orange;
    border: 2px solid red;
    margin: 2rem;
}